html,body {
	padding:0;
	margin:0;
    font-family: "Microsoft YaHei";
}
a{
    text-decoration:none;
}
#bg {
    width:40%;
    min-width:200px;
    margin:0 auto;
    padding-top:10px;
    & span{
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -65px;
        font-size:1.5rem;
        text-align:center;
        display:block;
        padding-top:15px;
        color: #D0648A;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px #EFEFEF,2px 2px #CCC;
    }
}
#home{
    background-color: rgba(239, 223, 223, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: 0;
        vertical-align: middle;
        width: 1px;
    }
    & #flash{
        position:absolute;
        left:5px;
        top:5px;
        & a{
            cursor:pointer;
        }
        & #visit{
            display:none;
            position:absolute;
            width:120px;
            height:30px;
            line-height:30px;
            text-align:center;
            background:#D7E7FC;
            border-radius:40px;
            pointer-events: none;
            & #arrow{
              position:absolute;
              color: #D7E7FC;
              width: 0px;
              height:0px;
              line-height: 0px;
              border-width: 0 15px 20px;
              border-style: solid;
              border-left-color: transparent;
              border-right-color: transparent;
              top: -20px;
              right: 50%;
            }
            & p{
                margin:0;
            }
        }
        &:hover #visit{
            display:block;
        }

    }
    & header{
        display:inline-block;
        vertical-align: middle;
        width:90%;
        animation: header 5s ease;
        -webkit-animation: header 5s ease;
        &:hover{
            display:inline-block;
        }
        & h1{
            cursor:pointer;
            display:inline-block;
            line-height:2.5;
            font-family: "Microsoft YaHei";
            font-size: 2rem;
            font-weight: 900;
            margin: 0.5em 0 0.25em 0;
            text-shadow: 1px 1px #EFEFEF,3px 3px #AEE2D9;
            color: #d0b4b4;
            letter-spacing: 0;
            text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
        }
        & span {
            width: 80%;
            display: block;
            margin: 0 auto;
            & p{
                position:relative;
                cursor:pointer;
                display:inline;
                padding: 0.4em 1em;
                -webkit-border-radius: 1.2em;
                border-radius: 1.2em;
                background-color: rgba(34, 195, 170 , 0.7);
                color: #EFEFEF;
                text-shadow: none;
                text-indent: 0;
                font-size: 1rem;
                margin: 0 0.2em 0.5em 0.2em;
                display: inline-block;
                font-weight:bold;
                &:hover{
                    &:before{
                        opacity:1;
                        margin-bottom:-17px;
                    }
                    &:after{
                        opacity:1;
                        margin-bottom:2px;
                    }
                }
                &:before{
                    content: '';
                    position: absolute;
                    opacity: 0;
                    z-index: 10;
                    -webkit-transition: 0.3s ease;
                    -moz-transition: 0.3s ease;
                    pointer-events: none;
                    background: transparent;
                    border: 10px solid transparent;
                    bottom: 100%;
                    left: 20%;
                    margin: 0 0 -18px 0;
                    border-top-color: rgba(0, 0, 0, 0.6);
                }
                &:after{
                    position: absolute;
                    opacity: 0;
                    z-index: 10;
                    -webkit-transition: 0.3s ease;
                    -moz-transition: 0.3s ease;
                    pointer-events: none;
                    content: attr(data);
                    background: rgba(0, 0, 0, 0.7);
                    color: white;
                    padding: 8px 10px;
                    font-size: 12px;
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
                    bottom: 100%;
                    left: 20%;
                    margin: 0 0 -6px -10px;
                    width:130px;
            }

        }
        }

        
        & #link{
            margin: 1em 0;
            & a{
                font-size:18px;
                display:inline-block;
                text-shadow: none;
                color: #EFEFEF;
                margin: 0 0.3em;
                font-weight:bold;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: rgba(102,102,102,0.8);
                padding: .4em 1em;
                line-height:1.3rem;
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
                &:hover{
                    color: #D0648A;
                    -webkit-transform: rotate3d(0, 1, 0, -360deg);
                    -ms-transform: rotate3d(0, 1, 0, -360deg);
                    transform: rotate3d(0, 1, 0, -360deg);
                }
            }
        }
    }
}
#hello{
    fill: transparent;
    stroke: #10f9ec ;
    stroke-width: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 200s ease;
    -webkit-animation: dash 200s ease;
    width: 66px;
    height: 66px;
    padding: 5px;
    transition: 0.3s;
    -webkit-transform:0.3s;
    &:hover{
        fill:#222;
    }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes header {
  from {
    opacity:0;
    transform:scale(0,0);
    transform:scale(0,0);
    -ms-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -o-transform:scale(0,0);
  }
  to {
    opacity:1;
    transform:scale(1,1);
    transform:scale(1,1);
    -ms-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}
@-webkit-keyframes header{
  from {
    opacity:0;
    transform:scale(0,0);
    transform:scale(0,0);
    -ms-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -o-transform:scale(0,0);
  }
  to {
    opacity:1;
    transform:scale(1,1);
    transform:scale(1,1);
    -ms-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}
@-o-keyframes header{
  from {
    opacity:0;
    transform:scale(0,0);
    transform:scale(0,0);
    -ms-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -o-transform:scale(0,0);
  }
  to {
    opacity:1;
    transform:scale(1,1);
    transform:scale(1,1);
    -ms-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}
@-moz-keyframes header{
  from {
    opacity:0;
    transform:scale(0,0);
    transform:scale(0,0);
    -ms-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -o-transform:scale(0,0);
  }
  to {
    opacity:1;
    transform:scale(1,1);
    transform:scale(1,1);
    -ms-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);
  }
}