{{#extend "css"}}
<meta name="viewport" content="width=1024" />
<link rel="stylesheet" href="/css/impress.min.css"/>
{{/extend}}

<body class="impress-not-supported">

<div class="fallback-message">
	<p>您的浏览器 <b>不支持</b> impress.js的展示要求, 将为您呈现简化版的展示</p>
    <p>为了获取最佳效果，请使用最新版的<b>Chrome</b>, <b>Safari</b> 或 <b>Firefox</b> 浏览器</p>
    <p>珍爱生命，保护地球，远离IE。</p>
</div>


<div id="impress">
    <div id="welcome" class="step" data-x="-1000" data-y="-1500">
        <p><span>欢迎来到 <em><a class=" button" href="/">songjz.cn</a></em> </span></p>
        <p><span>我叫<b class="left2right">宋进忠</b></span></p>
        <p><span class="size">这是我的网站</b></span></p>
    </div>
    <div id="now" class="step" data-x="0" data-y="-1500">
        <div class="now_me"><b>现在的我：</b></div>
        <ul>
            <li><div class="ecnu up2down"><p>学生</p></div></li>
            <li><p class="love up2down">前端爱好者</p></li>
            <li><p class="nanjing up2down">目前在南京实习</p></li>
            <li style="text-align:right"><p style="font-size:22px">(2016-8-31)</p></li>
        </ul>
    </div>
    <div id="link" class="step" data-x="-500" data-y="2000" data-rotate="90" data-scale="2">
    <p>您可以在<a class="button" href="http://weibo.com/3822969136">新浪微博</a>或者<a class="button" href="https://github.com/songjinzhong">Github</a>上找到我</p>
        <q>也可以逛一逛<a class="button" href="#">这个网站</a>，看一看我做过的项目</q>
    </div>
    <div id="place" class="step" data-x="3000" data-y="-1500">
        <div>生于珠城（蚌埠）</div>
        <div>长于淮河</div>
        <div>在南京读了四年本科</div>
        <div>现在，在上海读研</div>
        <div class="jianglai">将来<span>？</span></div>
    </div>
    <div id="child" class="step" data-x="1000" data-y="-1500">
        <div><b>小时候：</b></div>
        <div><p>立志要成为...</p></div>
        <div><p>认识到现实的残酷之后<p></div>
        <div>才会意识到<span>...</span></div>
    </div>
    <div id="ybkj" class="step center" data-x="1000" data-y="-1500" data-z="-3000" data-rotate="-300" data-scale="0.1">
        <b>梦想<span class="yao">遥</span><span class="bu">不</span><span class="ke">可</span><span class="ji">及</span></b>
    </div>
    <div id="its" class="step center" data-x="850" data-y="3000" data-rotate="-300" data-scale="1">
        <p>做一个简单的人，<b>踏实</b>而<b>务实</b></p><p>不沉溺幻想，不庸人自扰</p>
    </div>
    <div id="tiny" class="step" data-x="850" data-y="3000" data-z="-3000" data-rotate="300" data-scale="1">
        <p><span style="color:#b15f88">心</span><span style="color:#4c6080">静</span><span style="color:#4fefda">如</span><span style="color:#868e1c">水</span></p>
    </div>
    <div id="wenzi" class="step" data-x="4000" data-y="4000" data-scale="3">
        <div>我用笨拙的文字，记录了我的成长</div>
        <div style="line-height:100px">这是我的<a class="button" href="http://blog.songjz.cn" target="_black">我的博客</a></div>
        <div>曾几何时，我也曾彷徨过</div>
    </div>
    <div id="panghuang" class="step" data-x="-2300" data-y="4000" data-rotate="122" data-scale="3">
        <div>学过 C++、Java</div><div>做过 Unity3D、Python</div>
        <div>语言都是相通的</div>
        <div>不感兴趣就不会深入</div>
    </div>
    <div id="qianduan" class="step" data-x="5000" data-y="-400" data-scale="3">
        <div>后来</div>
        <div>我接触到了前端</div>
        <div>从此</div>
        <div class="yfbkss">一发不可收拾</div>
    </div>
    <div id="luxian" class="step" data-x="5000" data-y="-2500" data-rotate="-90" data-scale="3">
        <div>HTML、CSS、JavaScript</div>
        <div>Json、JQuery</div>
        <div>H5、Stylus、Gulp</div>
        <div>NodeJs</div>
        <a href="#" class="button">More...</a>
    </div>
    <div id="mengxiang" class="step center" data-x="0" data-y="-400" data-scale="2">
        <div>青春是梦想开始的地方</div>
        <div>如果有一天，<span>梦碎了</span></div>
    </div>
    <div id="its-in-3d" class="step center" data-x="0" data-y="100" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">但</span> <span class="you">至少</span> <span class="noticed">我</span> <span class="its">努力</span> <span class="in">过</span></p>
    </div>
    <div id="more" class="step" data-x="3000" data-y="-500" data-scale="2">
        <div>One More Thing...</div>
        <div>分享给你</div>
    </div>
    <div id="wwcx" class="step" data-x="6000" data-y="4000" data-z= "-6000" data-scale="3" data-rotate="90">
        <div>勿忘初心</div>
        <div class="english">英语真的很重要</div>
    </div>
    <div id="title" class="step center" data-x="3000" data-y="1500" data-z= "6000" data-scale="5">
        <p>认认真真做事<sup>*</sup></p>
        <p>低调做人<sup>*</sup></p>
        <p>凡事用心<sup>*</sup></p>
    </div>
    <div id="last" class="step center" data-x="-3000" data-y="1500" data-scale="5">
        <p>谢谢您的来访</p>
        <p>点击<a class="button" href="/">这里</a>返回主页</p>
    </div>
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>
<div class="hint">
    <p>使用空格或方向键继续</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>在左侧或右侧点击继续</p>";
}
</script>



{{#extend "js"}}

<script type="text/javascript" src="/js/impress.min.js"></script>
<script>impress().init();</script>

{{/extend}}

