<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/imgs/favicon.ico">
    <title>{{title}}</title>

    {{{block "css"}}}
    
  </head>
  <body>
    {{{body}}}

    {{{block "js"}}}
  </body>
</html>
